<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License. To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/.
  -->


<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.learnit.LearnIt"
          android:versionCode="14"
          android:versionName="@string/version">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="16"/>

    <application
            android:allowBackup="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:name=".data_types.MyApplication">

        <receiver android:name=".services.AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service android:enabled="true" android:name=".services.NotificationService"/>

        <activity
                android:name=".activities.MainActivity"
                android:label="@string/app_name"
                android:launchMode="standard"
                android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.HomeworkActivity"
                android:theme="@style/BlackTheme.DialogWhenLarge"
                android:label="@string/app_name">
        </activity>
        <activity
                android:name=".activities.HomeworkArticleActivity"
                android:theme="@style/BlackTheme.DialogWhenLarge"
                android:label="@string/app_name">
        </activity>

        <activity
                android:name=".activities.PrefActivity"
                android:theme="@style/BlackTheme.DialogWhenLarge"
                android:label="@string/app_name">
        </activity>
        <activity android:name=".activities.ShowAllWordsActivity"
                  android:screenOrientation="sensor"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".activities.WellcomeActivity"
                  android:screenOrientation="sensor"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".activities.InfoActivity"
                  android:theme="@style/BlackTheme.DialogWhenLarge"
                  android:screenOrientation="sensor"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".activities.EditWord"
                  android:screenOrientation="sensor"
                  android:theme="@style/BlackTheme.DialogWhenLarge"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".activities.StarDictToSqlActivity"
                  android:theme="@style/BlackTheme.DialogWhenLarge"
                  android:screenOrientation="sensor"
                  android:label="@string/app_name">
        </activity>
    </application>

</manifest>