<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License. To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/.
  -->


<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.learnit.LearnIt"
          android:versionCode="9"
          android:versionName="@string/version">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="16"/>

    <application
            android:allowBackup="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

        <receiver android:name=".AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:enabled="true" android:name=".NotificationService" />

        <activity
                android:name="com.learnit.LearnIt.MainActivity"
                android:label="@string/app_name"
                android:launchMode="standard"
                android:multiprocess="true"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Holo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.learnit.LearnIt.HomeworkActivity"
                android:launchMode="singleInstance"
                android:multiprocess="true"
                android:theme="@android:style/Theme.Holo.DialogWhenLarge">
        </activity>
        <activity
                android:name="com.learnit.LearnIt.HomeworkArticleActivity"
                android:launchMode="singleInstance"
                android:multiprocess="true"
                android:theme="@android:style/Theme.Holo.DialogWhenLarge">
        </activity>

        <activity
                android:name=".PrefActivity"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.Holo">
        </activity>
        <activity android:name=".ShowAllWordsActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name"
                android:theme="@android:style/Theme.Holo">
        </activity>
        <activity android:name=".WellcomeActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo">
        </activity>
        <activity android:name=".InfoActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo">
        </activity>
        <activity android:name=".EditWord"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo.DialogWhenLarge">
        </activity>
        <activity android:name=".DictToSQL"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo.DialogWhenLarge">
        </activity>
    </application>

</manifest>